/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    /* font-family: 'Poppins', sans-serif; */
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color: grey; */
    width: 99vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F2F0;
}

/* -------------------------Content- Left--------------- */

.content-left {
    height: 100vh;
    /* background-color: red; */
    margin-right: 50px;
}

#hero-big {
    height: 100vh;
    margin: 0;
    width: 35vw;
}

#logo {
    width: 100px;
    height: 37px;
    position: absolute;
    left: 105px;
    top: 53px;
    cursor: pointer;
}

/* ----------------------------------------Content-Right------------------------ */



.content-right {
    background-color: #F5F2F0;
}

/* ----------------------Navigation Section---------------- */

.nav-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 65px;
}

.line {
    height: 1.6px;
    width: 350px;
    background-color: #000;

}

.list {
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
}

.list-item {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #C1BFBE;
}

.list-item:hover{
color: #000;
}

.list-item:first-child {
    color: #000;
}

/* -----------------------Creativity section------------------------------------ */

.creativity {
    /* background-color: rgb(184, 179, 179); */
    height: 320px;
    position: relative;
    margin-top: 25px;
}


.social-media {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 200px;
    float: right;
    margin-right: 40px;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.creativy-content {
    position: absolute;
    width: 736px;
    height: 320px;
}

.creativy-content h1 {
    font-size: 110px;
    -webkit-text-stroke: 1.5px #706d6d;
    color: transparent;
    font-family: auto;
    line-height: 0.9;
}

.creativy-content h1 span {
    font-size: 110px;
    color: #333333;
    margin-left: 157px;
    -webkit-text-stroke: 0;
    line-height: 1;
}

.creativy-content p {
    font-size: 25px;
    color: #828282;
    margin-left: 529px;
    margin-top: -84px;
}

.btn {
    position: absolute;
    right: 55px;
    bottom: 50px;
    padding: 15px 95px;
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 16px;
}
.btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* ----------------------------------------skills section-------------------- */

.skills {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    position: relative;
    height: 39vh;
}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
    /* background-color: orange; */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 80px;
}

.skills-content li {
    color: #C1BFBE;
    font-size: 20px;
    position: relative;
    list-style: none;
    padding-top: 30px;
}

.skills-content li:first-child::before {
    background-color: #494847;
}

.active-list {
    color: #494847 !important;
}

.skills-content li::before {
    content: "";
    background-color: #C1BFBE;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 35px;
}

.skills-content li::after {
    top: 42px;
    content: "";
    width: 0.5px;
    height: 53px;
    background-color: #928f8e;
    position: absolute;
    left: -22.5px;
}

.dance-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* background-color: magenta; */
    width: 40vw;
}

#hero-small {
    bottom: 0;
    width: 395px;
    height: 194px;
    position: absolute;
}

.dance-content h1 {
    color: #333333;
    font-size: 55px;
    position: absolute;
    top: -32px;
}

.dance-content p {
    padding-top: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-right: 240px;
}

.arrow {
    width: 117px;
    height: 174px;
    transform: rotate(180deg);
    margin-top: 82px;
}

/* --------------------------------End------------------------------------ */