/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');

:root {
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Merriweather', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    background-color: #F5F2F0;
}


/* -------------------------------------------Content Left ------------- */

.content-left {
    display: flex;
    width: 50%;
    position: relative;
    background: url("../images/hero-section-big.jpg") no-repeat;
    background-size: 100% 100%;
}

#logo {
    position: absolute;
    width: 20%;
    left: 10%;
    top: 5%;
}

#hero-big {
    width: 100%;
    height: 100%;
    display: none;
}

/* --------------------------------------------Content Right ------------- */

.content-right {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 1em;
}



/* ---------------------------Navigation section -------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.line {
    width: 40%;
    height: 2px;
    background-color: #333333;
    margin-left: 2em;
}

.list {
    width: 60%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-family: var(--font-1);
}

.list li {
    list-style: none;
}


/* ---------------------------Creativity section -------------- */

.creativity {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em
}

.design {
    display: flex;
}

.creativity-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    font-family: var(--font-2);
}

.creativity-content h1 {
    font-size: 7.5rem;
    -webkit-text-stroke: 1px #757473;
    color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 0.9;
}

.sub-content {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.sub-content h1 {
    color: #333333;
    -webkit-text-stroke: 0;
    line-height: 1;
}

.sub-content p {
    font-size: 2rem;
    color: #828282;
    line-height: 1;
    padding-top: 1em;

}

.social-media {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.social-media img {
    width: 15%;
}

.btn {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 30%;
    font-size: 1rem;
    align-self: flex-end;
    padding: 1em;
    margin-right: 10em;
}

/* ---------------------------Skills section -------------- */

.skills {
    display: flex;
    justify-content: space-between;
}



.skills-design {
    display: flex;
    width: 30%;
    gap: 10px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.step::before {
    content: "";
    background-color: #898988;
    width: 1.5px;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 40%;
}

.step-circle {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #828282;
}

.active {
    width: 1em;
    height: 1em;
    background-color: #333333;
}

.skills-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}

.skills-content li {
    font-family: var(--font-1);
    font-size: 1.2rem;
    line-height: 2.5;
    color: #A3A2A2;
}

.active-list {
    color: #3C3C3C !important;
}

.dance-content {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.dance-content h1 {
    font-size: 3rem;
    color: #333333;
    /* height: 50px; */
}

.dance-content p {
    font-family: var(--font-1);
    font-size: 1.2rem;
}

.dance-content img {
    width: 90%;
    height: 150px;
    padding-top: 1.5em;
}

svg {
    width: 5%;
    transform: rotate(180deg);
    align-self: flex-end;
    margin: 0 auto;
}

/* -------------------------------Responsiveness------------------------ */


@media (max-width:1100px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .content-left {
        background-image: none;
        width: 100%;
    }

    #hero-big {
        display: block;
    }

    #logo {
        display: none;
    }

    .nav-container {
        position: absolute;
        top: 0px;
        width: 100vw;
        color: white;
        flex-wrap: wrap;
        background-color: #0a0707;
        justify-content: space-around;
        /* align-items: center; */
        /* gap: 0px; */
        /* padding:0; */
    }

    .line {
        display: none;
    }

    .list {
        font-size: 0.8em;
        width: 100%;
        padding: 0.5em;
    }

    .content-right {
        width: 100%;
        padding: 0;
    }

    .creativity {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .design {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0;
    }

    .creativity-content {
        gap: 0;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .creativity-content h1 {
        font-size: 4rem;
    }

    .creativity-content p {
        font-size: 1rem;
    }

    .sub-content {
        align-self: center;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .social-media {
        position: fixed;
        width: 100%;
        bottom: 0;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        padding: 1em 0;
    }

    .social-media img {
        width: 3%;
    }

    .btn {
        font-size: 0.7rem;
        width: 50%;
        max-width: 150px;
        padding: 1em 1em;
        align-items: center;
        margin: 0 auto;
    }

    .skills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dance-content {
        width: 100%;
    }

    .dance-content h1 {
        align-self: flex-start;
    }

    .skills-design {
        width: 100%;
        justify-content: center;
        padding: 1em 0;
    }

    .skills img {
        width: 100%;
    }

    svg {
        display: none;
    }

}


@media (min-width:450px) and (max-width:750px) {
    .creativity-content {
        padding-left: 20em;

    }

    .creativity-content h1 {
        font-size: 5rem;
    }

    .sub-content {
        padding-right: 30em;
    }

    .dance-content {
        width: 80%;
        align-items: center;
    }

    .dance-content img {
        width: 90%;
        height: 200px;
    }
}

@media (min-width:750px) and (max-width:1100px) {

    .list {
        justify-content: flex-start;
        font-size: 1.2rem;
    }

    .social-media img {
        width: 2%;
    }

    .creativity-content {
        padding-left: 35em;

    }

    .creativity-content h1 {
        font-size: 6rem;
    }

    .sub-content {
        padding-right: 65em;
    }

    .skills-design {
        flex-direction: column;
        margin: 2em;
    }

    .step {
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }

    .step::before {
        content: "";
        background-color: #898988;
        height: 1.5px;
        width: 90%;
        position: absolute;
        left: 10%;
        top: 40%;
    }

    .skills-content {
        flex-direction: row;
    }

    .dance-content {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .dance-content img {
        width: 90%;
        height: 200px;
    }
}